<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>我的网站</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<div class="row mx-5">
    <header class="col-sm-12 my-3">
        <h1 th:text="#{site_title}" onclick="window.location.href='/book/index'">我的图书馆</h1>
    </header>

    <div class="col-sm-12 col-lg-8 my-3" style="min-height: 300px;">

        <div th:if="${msg}" th:classappend="${msgType != null ? 'alert-' + msgType : 'alert-success'}" class="alert alert-dismissible fade show">
            <span th:text="${msg}"></span>
            <button class="close" data-dismiss="alert"><span>&times;</span></button>
        </div>

        <div layout:fragment="content">
            默认内容
        </div>
    </div>

    <aside class="col-sm-12 col-lg-4">
        <div class="mt-3 p-3 bg-dark" style="color: lightgoldenrodyellow; border-radius: 5px; min-height: 150px;">
            <div layout:fragment="help">
                <p>这是我们很牛逼的图书馆的管理网站的首页的侧边栏的帮助文档。</p>
                <p>- 您好，请问您长得帅吗?</p>
                <p>- 您好，有什么需要帮您的?</p>
            </div>
        </div>
    </aside>

    <footer class="col-sm-12 text-center py-3 mt-5">
        Copyright: nf-it.
    </footer>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>