<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/one">
<head>
    <title>修改书籍</title>
</head>

<div layout:fragment="content">
    <form th:action="@{/book/update}" method="post" th:object="${book}">
        <input type="hidden" name="id" th:value="*{id}">
        <div class="form-group">
            <label for="name">名字</label>
            <input class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="price">价格</label>
            <input type="number" class="form-control" id="price" th:field="*{price}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <div class="form-group">
            <label for="author">作者</label>
            <select class="form-control" id="author" th:field="*{author}" th:errorclass="is-invalid">
                <option value="-1">请选择</option>
                <option th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:text="${author.name}">作者</option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        </div>

        <button type="submit" class="btn btn-primary">保存更改</button>
    </form>
</div>

</html>